[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/will/Desktop/ML O'Reilly]
row=4
col=0

[/home/will/Desktop/Xmbindings.png]
row=5
col=0

[/home/will/Desktop/Python O'Reilly]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/will]
row=2
col=0

